<ESRI.Configuration xmlns="http://schemas.esri.com/Desktop/AddIns" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"><Name>CapacityOfReservoir</Name><AddInID>{95eeca4b-3d7e-438f-b6b6-ef5d0a9ae26b}</AddInID><Description>Compute Capacity of Reservoir</Description><Version>0.1</Version><Image>Images\Python-96.png</Image><Author>HR</Author><Company>HR</Company><Date>01/18/2016</Date><Targets><Target name="Desktop" version="10.2" /></Targets><AddIn language="PYTHON" library="PyFile_addin.py" namespace="PyFile_addin"><ArcMap>
    <Commands>
        <Tool caption="Draw Interest Region" category="CapacityOfReservoir" class="DrawInterestRegion" id="PyFile_addin.DrawInterestRegionTool" image="Images\Waypoint Map-52.png" message="Draw Interest Region" tip="Draw Interest Region"><Help heading="" /></Tool>
        <Button caption="CreateDEM" category="CapacityOfReservoir" class="CreateDEM" id="PyFile_addin.CreateDEMButton" image="Images\Grid-50.png" message="" tip="CreateDEM"><Help heading="" /></Button>
        <Button caption="Compute Reservoir" category="CapacityOfReservoir" class="ComputeReservoir" id="PyFile_addin.ComputeReservoirButton" image="Images\Run Command-52.png" message="Compute Reservoir" tip="Compute Reservoir"><Help heading="" /></Button>
        </Commands>
    <Extensions>
        </Extensions>
    <Toolbars>
        <Toolbar caption="Capacity of Reservoir" category="CapacityOfReservoir" id="PyFile_addin.toolbar" showInitially="true"><Items><Tool refID="PyFile_addin.DrawInterestRegionTool" /><Button refID="PyFile_addin.CreateDEMButton" /><Button refID="PyFile_addin.ComputeReservoirButton" /></Items></Toolbar>
        </Toolbars>
    <Menus>
        </Menus>
    </ArcMap></AddIn></ESRI.Configuration>